.main-div {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F5F5F5;
}

.title-div {
    height: 5%;
}

.content-div {
    height: 85%;
    width: 100%;
    margin-top: 3px;
}

.header-div {
    background: #E1F2FF;
    height: 20%; 
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
}

.json-div {
    margin-top: 1%;
    height: 79%;
}

.footer-div {
    height: 10%;
}
